/* 404 Error Page Styles */
.error-container {
    text-align: center;
    color: white;
}

.error-container h1 {
    font-size: 5em;
}

.error-container p {
    font-size: 2em;
    margin: 10px 0;
}
button {
    background-color: cornflowerblue;
}
.error-container img {
    max-width: 100%;
    max-height: 200px; /* Adjust the height to your preference */
    width: auto;
    height: auto;
    margin-bottom: 20px; /* Adjust as needed for spacing */
}
